{% extends 'layout.html' %}
{% block main%}

<div id="app-category">
    <nav aria-label="breadcrumb" class="mt-20">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">文章</a></li>
            <li class="breadcrumb-item active" aria-current="page">文章添加</li>
        </ol>
    </nav>
    <div class="bg-white" style="padding: 20px; box-sizing: border-box;">
        <form >
            <label for="exampleInputEmail1">类别</label>
            <select class="form-control" id="exampleFormControlSelect">
                {% for item in categories%}
                <option value="{{item.cat_id}}">{{item.cat_name}}</option>
                {% endfor %}
            </select>
            <div class="form-group">
                <label for="exampleInputEmail1">标题</label>
                <input type="text" class="form-control" v-model="title" value="{{content.title}}" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="请输入标题">
            </div>
            <div class="form-group" style="height: 300px;">
                <label for="exampleInputEmail1">选择图片</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" @change="change" accept=".gif,.jpg,.jpeg,.png">
                    <label class="custom-file-label" for="customFile">选择图片</label>
                    <img :src="cover_url" alt="" style="display:block; width: 300px; height: 200px;">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">简介</label>
                <input type="text" class="form-control" v-model="description" id="exampleInputPassword" placeholder="请输入简介">
            </div>
            <div id="editormd">
                <textarea style="display:none;"></textarea>
            </div>
           
            <button type="button" class="btn btn-primary" @click="submit">提交</button>
        </form>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="../../public/plug/editormd/editormd.js"></script>
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            height:'300px',
            syncScrolling : "single",
            //启动本地图片上传功能
            imageUpload: true,
            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/admin/content/img_up",
            path : "../../public/plug/editormd/lib/" // Autoload modules mode, codemirror, marked... dependents libs path
        });
    });
</script>
<script>
    new Vue({
        el: '#app-category',
        data: {
            name: '',
            msg: '',
            title: '',
            description: '',
            content: '',
            url: '',
            cover_url: '',
            content_mkd: '',
            is_add: true,
            content_id: ''
        },
        methods: {
            change(e){
                var me = this
                var uploadFile = e.target.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(uploadFile);
                reader.onloadend = function() {
                    me.cover_url = reader.result
                    var base64 = reader.result; // base64就是图片的转换的结果 
                };
                
            },
            submit(){
                this.content = $('.editormd-markdown-textarea').val()
                var me = this
                var obj = document.getElementById('exampleFormControlSelect'); //定位id
                var index = obj.selectedIndex; // 选中索引
                var value = obj.options[index].value; // 选中值
                if(!this.cover_url){
                    alert('封面图片不能为空');
                    return
                }
                if(!this.title){
                    alert('标题不能为空');
                    return
                }
                if(!this.description){
                    alert('描述不能为空');
                    return
                }
                if(!this.content){
                    alert('内容不能为空');
                    return
                }
                
                let URL = this.is_add ? '/admin/content/add' : '/admin/content/edit'
                $.ajax({
                    url: URL,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        cat_id: value,
                        title: me.title,
                        description: me.description,
                        content: me.content,
                        cover_url: me.cover_url,
                        content_id: me.content_id
                    },
                    success: function(res){
                        me.msg = res.msg
                        me.msg_show = true
                        setTimeout(function(){
                            me.msg_show = false
                            if(!res.code){
                                window.history.go(-1)
                            }
                        }, 1000)
                    }
                })
            },
            add: function(){
                window.location.href = '/admin/content/add'
            },
            deleteItem: function(e){
                $.ajax({
                    url: '/admin/category/delete',
                    dataType: 'json',
                    type: 'get',
                    data: {
                        id: e.toElement.dataset.id
                    },
                    success: function(res){
                        if(!res.code){
                            window.location.reload()
                        }
                    }

                })
            },
            edit(e){
                this.is_edit = true
                let me = this
                this.item_id = e.toElement.dataset.id
                $.ajax({
                    url: '/admin/category/info',
                    dataType: 'json',
                    type: 'get',
                    data: {
                        id: e.toElement.dataset.id
                    },
                    success: function(res){
                        if(!res.code){
                            me.name = res.data.name
                        }
                    }

                })
            }
        },
        mounted: function(){
            if(!window.location.search) return
            this.is_add = false
            let me = this
            $.ajax({
                    url: '/admin/content/edit',
                    dataType: 'json',
                    type: 'get',
                    data: {
                        id: window.location.search.substring(4)
                    },
                    success: function(res){
                        me.title = res.data.title
                        me.description = res.data.description
                        me.content = res.data.content
                        me.cover_url = res.data.cover_url
                        me.url = res.data.url
                        me.content_id = res.data.content_id
                        $('#editormd textarea').val(res.data.content)
                    }

                })
            
        }
    })
</script>

{% endblock%}