<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/plug/editormd/css/editormd.css" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/main.css">
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">后台管理</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/users">用户管理
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category">分类管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/content">文章管理</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a id="sign-out" class="dropdown-item" href="#">退出</a>
                            </div>
                        </li>
                    </ul>
                </span>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        {% block main%}{%endblock%}
    </div>

    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script>
        $(function(){
            $('#sign-out').click(function(){
                $.ajax({
                    url: '/api/user/logout',
                    success: function(res){
                        if(!res.code){
                            window.location.href='/'
                        }
                    }
                })
            })
        })
        
    </script>
</body>
</html>