{% extends 'layout.html' %}
{% block main%}
<nav aria-label="breadcrumb" class="mt-20">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">管理首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">用户列表</li>
    </ol>
</nav>
<table class="table bg-white">
    <thead>
        <tr>
            <th scope="row">ID</th>
            <td>用户名</td>
            <td>管理员</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users%}
            <tr>
                <th scope="row">{{user.user_id}}</th>
                <td>{{user.username}}</td>
                <td>
                    {% if user.is_admin %}是{% endif %}
                </td>
            </tr>
        {% endfor%}
    </tbody>
</table>

{% include 'page.html' %}

{% endblock%}