<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JamesFe</title>
    <link rel="icon" href="/favicon.ico" type="image/ico"   />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/main.css">
</head>
<body>
    <div>
        <div class="banner">
            <!-- <img src="/public/images/home.jpg" alt=""> -->
            </div>
            <div class="tab">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <a class="navbar-brand" href="/">JAMESFE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                {% for item in categories %}
                                    {% if item.id == cat_id%}
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/?cat_id={{item.cat_id}}">{{item.cat_name}} <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="/?cat_id={{item.cat_id}}">{{item.cat_name}} <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container article-list">
                <div class="row">
                    
                    <div class="col-12 col-md-8">
                        {% block content %}{%endblock%}
                    </div>
                    <div class="col-6 col-md-4" id="app">
                        <div class="card info">
                            <div class="card-body">
                                <img src="https://avatars0.githubusercontent.com/u/8231955?s=460&v=4" alt="">
                                <h5 class="card-title">james</h5>
                                <p>不想做设计的程序猿不是好老师</p>
                            </div>
                        </div>
                        {% if !userInfo.user_id %}
                        <div class="bg-white form card"  style="margin-top: 20px">
                            <form>
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert" v-if="tips_show" v-html="message"></div>
                                    <label for="exampleInputEmail1">用户名</label>
                                    <input type="text" class="form-control" v-model="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入用户名">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">密码</label>
                                    <input type="password" class="form-control" v-model="password" id="exampleInputPassword1" placeholder="请输入密码">
                                </div>
                                <div class="form-group" v-if="form_show">
                                    <label for="exampleInputPassword1">确认密码</label>
                                    <input type="password" class="form-control" v-model="repassword" id="exampleInputPassword2" placeholder="Password">
                                </div>
                                <button type="button" class="btn btn-primary" @click="submit"  v-if="!form_show">登录</button>
                                <button type="button" class="btn btn-info" v-else @click="submit">注册</button>
                                <div v-if="form_show"><span>已有帐号</span><a @click='form_show = !form_show' href="javascript: void(0)">去登录</a></div>
                                <div v-else><span>还没有帐号</span><a @click='form_show = !form_show' href="javascript: void(0)">去注册</a></div>
                            </form>
                        </div>
                        {% else %}
                        <div class="card"  style="margin-top: 20px">
                            <div class="card-body">
                                <h5 class="card-title">{{userInfo.username}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                {% if userInfo.is_admin %}
                                <p class="card-text">您是管理员用户 <a href="/admin">去后台管理</a></p>
                                {% endif %}
                                <a href="javascript: void(0)" class="card-link" @click="goOut">退出</a>
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">关联社区</h5>
                                <ul>
                                    <li><a href="http://songfens.club" target="_blank">新前端</a></li>
                                    <li><a href="https://ke.qq.com/" target="_blank">腾讯课堂</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="full footer">
        <div class="container ">
            <footer>
                <h5>新前端</h5>
                <p>james 社区</p>
            </footer>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/public/javascript/index.js"></script>
</body>
</html>