{% extends 'layout.html' %}

{% block content%}
    <div class="list-box">
        <h1>{{content.title}}</h1>
        <p class="col-default">
            <span>作者:{{content.username}}</span>
            <span>时间:{{content.add_time|date('Y年m月d日 H:i:s', -8*60)}}</span>
            <span>阅读:{{content.views}}</span>
            <span>评论:{{comments_list.length}}</span>
        </p>
        <div id="test-editormd-view">
            <textarea style="display:none;" name="test-editormd-markdown-doc">{{content.content}}</textarea>               
        </div>
    </div>
    <div class="message-list">
       <div class="title">
           <h1>评论</h1>
           <p>一共有{{comments_list.length}}条评论</p>
       </div>
       <div class="user-name">{{content.username}}</div>
       {% if userInfo.user_id %}
       <div class="input" id="comments">
           <textarea name="" id="content" data-id="{{content.content_id}}"></textarea>
           <button type="button" class="btn btn-primary" id="sumbit">提交</button>
       </div>
       {% else %}
        <div class="alert alert-info" role="alert">
            您还没有登录，请先登录！
        </div>
        {% endif %}
        {% if comments_list.length <= 0 %}
        <div class="alert alert-info" role="alert" style="margin-top: 20px;">
            还没有留言
        </div>
        {% endif %}
       <div class="history-list">
           <ul>
               {% for item in comments_list%}
                <li>
                    <div class="info">
                        <p>{{item.username}}</p>
                        <p>{{item.post_time|date('Y年m月d日 H:i:s', -8*60)}}</p>
                    </div>
                    <div class="content">
                        {{item.com_content}}
                    </div>
                </li>
                {% endfor %}
           </ul>
       </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="../../public/plug/editormd/lib/marked.min.js"></script>
    <script src="../../public/plug/editormd/lib/prettify.min.js"></script>
    <script src="../../public/plug/editormd/lib/raphael.min.js"></script>
    <script src="../../public/plug/editormd/lib/underscore.min.js"></script>
    <script src="../../public/plug/editormd/lib/sequence-diagram.min.js"></script>
    <script src="../../public/plug/editormd/lib/flowchart.min.js"></script>
    <script src="../../public/plug/editormd/lib/jquery.flowchart.min.js"></script>
    <script src="../../public/plug/editormd/editormd.js"></script>
    <script type="text/javascript">
        testEditormdView2 = editormd.markdownToHTML("test-editormd-view", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });
                
        $(function(){
            $('#sumbit').click(function(){
                var $content = $('#content')
                if(!$content.val()){
                    alert('请填写评价内容再提交！')
                    return
                }
                $.ajax({
                    url: '/api/comment/post',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        content: $content.val(),
                        content_id: $content[0].dataset.id
                    },
                    success: function(res){
                        if(!res.code){
                            alert(res.msg)
                            window,location.reload()
                        }
                    }
                })
            })
        })
        function renderComment(comment) {

        }
    </script>
{% endblock %}